
<div id="affiliate">
</div><!-- #affiliate -->

<div class="container">
  <div class="row py-5">
    <div class="col">
      <h2 class="text-center py-3">Affiliates</h2>
      <h4 class="text-center">
        Terry Johnson Trucking, Inc.'s sister companies will provide you
        with a variety of products. Like TJT, the maintain the same core
        values, ensuring that you'll get the same outstanding service.
      </h4>
    </div><!-- .col -->
  </div><!-- .row -->

  <div class="row py-5">
    <div class="col-sm-6 mb-5">
      <ul class="list-unstyled text-center">
        <li>Triple J Ready Mix</li>
        <li>301 Enterprise Parkway</li>
        <li>Coalinga, CA 93210</li>
        <li>Phone: (559) 935-3232</li>
      </ul>
    </div><!-- .col -->
    <div class="col-sm-6 mb-5">
      <ul class="list-unstyled text-center">
        <li>TJ's Hay Service</li>
        <li>37160 Oil City Road</li>
        <li>Coalinga, CA 93210</li>
        <li>Phone: (559) 935-0371</li>
      </ul>
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .container -->
