
<div id="contact" class="bg-primary text-light py-5">
  <div class="container">
    <div class="row py-5">
      <div class="col">
        <h2 class="text-center">Contact</h2>
        <h4 class="text-center">
          There's never a job too big or too small, contact us today for a
          quote.
        </h4>
      </div><!-- .col -->
    </div><!-- .row -->

    <div class="row">
      <div class="col-sm-6">
        <img src="img/phone.jpg" class="img-fluid mb-5" alt="">
      </div>
      <div class="col-sm-6">
        <div class="row text-center py-3">
          <div class="col-sm-6">
            <ul class="list-unstyled mb-3">
              <li class="font-weight-bold">Coalinga Office</li>
              <li>31186 W. Gale Ave</li>
              <li>Coalinga, CA 93210</li>
              <li>Phone: <a class="text-link"
                  href="callto:15599350371">(559) 935-0371</a></li>
              <li>Fax: <a class="text-link" href="callto:15599355803">(559) 935-5803</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled mb-3">
              <li class="font-weight-bold">Hanford Office</li>
              <li>8270 E. Lacey Blvd.</li>
              <li>Hanford, CA 93</li>
              <li>Phone: <a href="callto:15595842622" class="text-link">(559) 584-2622</a></li>
              <li>Fax: <a href="callto:15595842910" class="text-link">(559) 584-2910</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled mb-3">
              <li class="font-weight-bold">Porterville Office</li>
              <li>5942 Old Stage Road</li>
              <li>Porterville, CA 93257</li>
              <li>Phone: <a href="callto:15595342491" class="text-link">(559) 534-2491</a></li>
              <li>Fax: <a href="callto:15595342492" class="text-link">(559) 534-2492</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled mb-3">
              <li class="font-weight-bold">Santa Maria Office</li>
              <li>1860 W. Betteravia Rd.</li>
              <li>Santa Maria, CA 93455</li>
              <li>Phone: <a href="callto:18059282202" class="text-link">(805) 928-2202</a></li>
              <li>Fax: <a href="callto:18059282089" class="text-link">(805) 928-2089</a></li>
            </ul>
          </div>
        </div><!-- .row -->
      </div>
    </div>
  </div><!-- .container -->

  <div class="container bg-light text-dark">
    <div class="row">
      
      <div class="col">
        <h4 class="py-3">Coalinga</h4>
        <ul class="list-unstyled">
          <li class="mb-4">
            <b>Terry Johnson</b><br>
            President/Sales<br>
            <a href="mailto:terry.johnson@tjtinc.net">terry.johnson@tjtinc.net</a>
          </li>

          <li class="mb-4">
            <b>Justin Johnson</b><br>
            Vice President/Dispatch<br>
            <a
               href="mailto:justin.johnson@tjtinc.net">justin.johnson@tjtinc.com</a>
          </li>
          
          <li class="mb-4">
            <b>Kylie Johnson</b><br>
            Dispatch<br>
            <a href="mailto:kylie.johnson@tjtinc.net">kylie.johnson@tjtinc.net</a>
          </li>
          
          <li class="mb-4">
            <b>Suzanne Taylor</b><br>
            Office Manager<br>
            <a href="mailto:suzanne.taylor@tjtinc.net">suzanne.taylor@tjtinc.net</a>
          </li>
          
          <li class="mb-4">
            <b>Candida Oldham</b><br>
            Executive Administrative Asst.<br>
            <a href="mailto:candida.oldham@tjtinc.net">candida.oldham@tjtinc.net</a>
          </li>
          
          <li class="mb-4">
            <b>Shannon Scott</b><br>
            Accounts Receivables/Payroll<br>
            <a href="mailto:shannon.scott@tjtinc.net">shannon.scott@tjtinc.net</a>
          </li>
          
          <li class="mb-4">
            <b>Karla Garibay</b><br>
            Sub Haul Payables<br>
            <a href="mailto:karla.garibay@tjtinc.net">karla.garibay@tjtinc.net</a>
          </li>
          
          <li class="mb-4">
            <b>Randi Beeson</b><br>
            Administrative Assistant<br>
            <a href="mailto:randi.beeson@tjtinc.net">randi.beeson@tjtinc.net</a>
          </li>
        </ul>
      </div><!-- .col -->
      
      <div class="col">
        <h4 class="py-3">Hanford</h4>
        <ul class="list-unstyled">
          <li class="mb-4">
            <b>Ross Pitts</b><br>
            Shop Manager<br>
            <a href="mailto:ross.pitts@tjtinc.net">ross.pitts@tjtinc.net</a>
          </li>
        </ul>
      </div><!-- .col -->
      
      
      <div class="col">
        <h4 class="py-3">Porterville</h4>
        <ul class="list-unstyled">
          <li class="mb-4">
            <b>Brian Jones</b><br>
            Dispatch/Sales<br>
            <a href="mailto:brian.jones@tjtinc.net">brian.jones@tjtinc.net</a>
          </li>
          
          <li class="mb-4">
            <b>Tasha Manley</b><br>
            Administrative Assistant<br>
            <a href="mailto:tasha.manley@tjtinc.net">tasha.manley@tjtinc.net</a>
          </li>
        </ul>
      </div><!-- .col -->
      
      <div class="col">
        <h4 class="py-3">Santa Maria</h4>
        <ul class="list-unstyled">
          <li class="mb-4">
            <b>Rich Ashton</b><br>
            Dispatch<br>
            <a href="mailto:rich.ashton@tjtinc.net">rich.ashton@tjtinc.net</a>
          </li>
          
          <li class="mb-4">
            <b>Rebecca Garcia</b><br>
            Administrative Assistant<br>
            <a href="mailto:rebecca.garcia@tjtinc.net">rebecca.garcia@tjtinc.net</a>
          </li>
        </ul>
      </div><!-- .col -->

    </div><!-- .row -->
  </div><!-- .container -->

</div><!-- #contact -->
