

<div class="bg-primary text-light">
  <div class="container">
    <div class="row">

      <div class="col-sm-5">
        <h1 class="pt-3">Terry Johnson Trucking, Inc.</h1>
        <p>
          Terry Johnson Trucking, Inc. is a centrally located trucking company, with
          offices in Coalinga, Hanford, Porterville, and Santa Maria.
        </p>
      </div><!-- .col -->

      <div class="col-sm-7">
        <img class="img-fluid" src="img/tjtinc-real-photo.jpg" alt="">
      </div><!-- .col -->

    </div><!-- .row -->
  </div><!-- .container -->

</div><!-- .bg-primary -->
