
<div id="about">
</div><!-- #about -->
<div class="container">
  <div class="row">
    <div class="col py-5">
      <h2 class="text-center py-3">Our values</h2>

      <h4 class="text-center">At Terry Johnson Trucking, Inc. we maintain core values of integrity,
        reliability, wisdom, quality, sustainability, and safety.</h4>
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .container -->

<div class="bg-primary text-light">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h2 class="text-center py-3">Serving the Central Coast since 1978</h2>
      </div><!-- .col -->

      <div class="col-sm-6">
        <img class="img-fluid mb-5" src="img/shake-hands.jpg" alt="">
      </div><!-- .col -->

      <div class="col-sm-6">
        <p>
          Terry Johnson Trucking, Inc. is family owned business that has been
          serving the central valley of California since 1978. Our primary
          business is hauling rock, sand, gravel, asphalt and extends to other
          services such as vacuum trucks, water trucks, off road equipment, roll
          off bin rentals and lowbed services. Our newest business venture is
          Triple J Ready Mix, a 109 state certified concrete batch plant located
          in Coalinga.
        </p>

        <p>
          Our trucking company has four locations to conveniently and
          efficiently serve our patrons. Our main office, the hub of Terry
          Johnson Trucking, Inc. is located in Coalinga. Our other locations
          include Hanford, Porterville, & Santa Maria. All of our locations are
          strategically located near aggregate & asphalt facilities and clean
          water sources.
        </p>

        <p>
          Our goal is to provide quality transportation of materials and
          superior customer service. Give us a call for any of your trucking
          needs.
        </p>
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- #home-about -->

