

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="/" class="navbar-brand">
    <img class="img-fluid site-logo" width="150" src="img/logo.png" alt="tjtinc logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <a class="nav-item nav-link text-link active" href="#about">About</a>
      <a class="nav-item nav-link text-link" href="#affiliate">Affiliates</a>
      <a class="nav-item nav-link text-link" href="#contact">Contact</a>
    </ul>
  </div>
</nav>
